.about-container {
	width: 100%;
	height: 100%;
	padding: 0% 15%;
	padding-top: 10%;
}
.about-title {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid rgb(180, 179, 179);
	padding: 15px 0;
	margin: 0 0;
}
.about-info {
	width: 100%;
	height: 300px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-size: 1.5rem;
	font-weight: bold;
}
.about-money,
.about-point {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.about-point {
	border-right: 1px solid rgb(180, 179, 179);
	border-left: 1px solid rgb(180, 179, 179);
}
.history-title {
	text-align: center;
}
.history-list {
	font-size: 1rem;
}
