.admin-container {
	width: 100%;
	margin-top: 3%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
#admin-logout {
	position: absolute;
	right: 20%;
	font-size: 1.5rem;
	padding: 0;
	&:hover {
		border-bottom: 1px solid rgb(65, 65, 65);
	}
}
#admin-header {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1%;
	cursor: pointer;
}
#admin-menus {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.admin-menu {
	width: 300px;
	height: 300px;
	border: none;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	transition: ease 0.5s;
	&:hover {
		background-color: rgb(203, 253, 255);
	}
}
