#main-title {
	width: 100%;
	margin: 0 0;
	padding-top: 2%;
	padding-bottom: 2%;
	height: 1.7rem;
	text-align: center;
	font-size: 1.7rem;
	font-weight: bold;
	color: white;
	background-color: black;
}
#main-container {
	background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(34, 30, 30), rgb(58, 46, 46));
	width: 100%;
	min-height: 100vh;
	color: white;
	padding: 1% 12%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	.main-movie {
		width: 294px;
		margin-bottom: 10px;
		Button {
			margin-top: 2%;
			width: 100%;
			background-color: rgb(0, 205, 212);
			color: white;
			font-size: 1.3rem;
			font-weight: bold;
		}
	}
}
@media screen and (max-width: 987px) {
	#main-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 600px) {
	#main-container {
		grid-template-columns: repeat(1, 1fr);
	}
}
