#product-header {
	text-align: center;
}
#product-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
}

@media screen and (max-width: 1200px) {
	#product-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 800px) {
	#product-container {
		grid-template-columns: repeat(1, 1fr);
	}
}
