.search-container {
	width: 100%;
	padding-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: black;
}
.search-list {
	width: 50%;
}
.search-header {
	width: 100%;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
}
.search-input {
	font-size: 2rem;
	width: 60%;
	background-color: white;
	border-radius: 5px;
}
