#signup-container {
	width: 600px;
	height: 600px;
	margin: 0 auto;
	padding: 3%;
	margin-top: 3%;
}
#signup-inputs {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.signup-input {
	width: 50%;
}
